[submodule "from-fog-nets-to-neural-nets"]
	path = from-fog-nets-to-neural-nets
	url = https://github.com/drivendata/from-fog-nets-to-neural-nets.git
[submodule "senior-data-science"]
	path = senior-data-science
	url = https://github.com/drivendata/senior-data-science.git
[submodule "countable-care"]
	path = countable-care
	url = https://github.com/drivendataorg/countable-care
	master = master
[submodule "americas-next-top-statistical-model"]
	path = americas-next-top-statistical-model
	url = https://github.com/drivendataorg/americas-next-top-statistical-model
[submodule "box-plots-for-education"]
	path = box-plots-for-education
	url = https://github.com/drivendataorg/box-plots-for-education
[submodule "naive-bees-classifier"]
	path = naive-bees-classifier
	url = https://github.com/drivendataorg/naive-bees-classifier
[submodule "keeping-it-fresh"]
	path = keeping-it-fresh
	url = https://github.com/drivendataorg/keeping-it-fresh
[submodule "random-walk-of-the-penguins"]
	path = random-walk-of-the-penguins
	url = https://github.com/drivendataorg/random-walk-of-the-penguins
[submodule "for-fun-competitions"]
	path = for-fun-competitions
	url = https://github.com/drivendataorg/for-fun-competitions
[submodule "n-plus-one-fish"]
	path = n-plus-one-fish
	url = https://github.com/drivendataorg/n-plus-one-fish
